.AppBackground{
  background-image: linear-gradient(#f5f7fa, #c3cfe2);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.AppPadding{
  padding: 0% 20%;

}
.start{
  margin: 0 auto !important;
  width: 250px;
}

.result{
  text-align: center;
}
@media only screen and (max-width: 600px){
  .AppPadding{
    padding: 0% 10%;
  }
}



